body {
  margin: 0 auto;
  display: table;
  background-color: whitesmoke;
  font-family: arial;
}

nav ul li {
  display: block;
  float: left;
  width:30%;
  margin-bottom: 5%;
  }

.header {
  background-color: gray;
  padding: 2rem;
  margin-bottom: 5%;

}

input {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
