html {
  margin: 0 auto;
  background-color: whitesmoke;
  font-family: arial;
  width: 50%
}

nav p {
  display: inline-block;
  }

.header {
  background-color: gray;
  padding: 2rem;
}


.page {
  text-align: left;
  background-color: white;
  padding: 1rem
}
