html {
  margin: 0 auto;
  background-color: whitesmoke;
  font-family: arial;
  width: 50%
}

.header {
  background-color: gray;
  padding: 1rem;
}


.page {
  text-align: left;
  background-color: white;
  padding: 1rem
}
